@charset "ISO-8859-1";

.photo {
	width: 250px;
	height: 250px;
	margin-top: 15px;
}

.photo_wrapper {
	display: flex;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: auto;
	height: 400px;
	width: 480px;
}
.inputs_wrapper{
	margin-top: -75px;
}
.uploadForm{
	margin-top:40px;
}